@media only screen and (min-width: 768px) {


    .scrollable-listings {
        max-height: 400px; /* Adjust the height as needed */
        overflow-y: auto;
        padding-right: 50px;
    }

    .navbar-brand{

      display: none;
    }
    .fixed-bottom{

      display: none;
    }

    .navbar {
      position: fixed;
      width: 100%;
      top: 0;
      border-bottom: 1px solid lightgrey;
      height: 50px;
      z-index: 1;
    }

    body {
      padding-top: 70px;
    }

    .container{

      padding-left:200px;
      padding-right:0;
      margin-top: 0px;
    }

    .sidebar {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      width: 200px;
      top: 0;
      border-right: 1px solid lightgrey;
      background-color: rgb(255, 255, 255);
      z-index: 1;
    }

    .logo {
      display: block;
      text-align: center;
      margin: 10px;
      height: 30px;
      padding: 0px;
    }

        /* Custom Scrollbar */
        ::-webkit-scrollbar {
            width: 8px;
            background-color: #f8f9fa; /* Set background color */
          }

          ::-webkit-scrollbar-thumb {
            background-color: rgb(217, 217, 217); /* Set thumb color */
          }

          ::-webkit-scrollbar-thumb:hover {
            background-color: grey; /* Set thumb color on hover */
          }

          ::-webkit-scrollbar-track {
            background-color: #f8f9fa; /* Set track color */
          }

    }


    .info-icon {
        color: lightgrey;
        cursor: pointer;
    }

    .upload input[type="file"] {
      display: none;
    }

    .upload label {
      display: inline-block;
      padding: 6px 10px;
      border-radius: 4px;
      font-size: 16px;
      font-weight: normal;
      color: #333;
      border: 1px solid #ccc;
      cursor: pointer;
    }

    .upload label:hover {
      background-color: #f5f5f5;
    }

    .upload i.fa {
      margin-right: 8px;
    }

    .search.btn{
      background-color: aliceblue;

    }

    .btn-outline-secondary, .btn-primary{

      background-color: aliceblue;
      color:#007BFF;
      border: none;
    }

    .btn-outline-secondary:hover, .btn-primary:hover{

      background-color: #007BFF;
      color:#FFFFFF;
    }

    .btn-secondary {
      background-color: rgb(217, 217, 217);
      color: grey;
      border: none;
    }

    .btn-secondary:hover {
      background-color: grey;
      color: #FFFFFF;
    }

    .btn-success {
      background-color:rgb(189, 245, 196);
      color: rgb(0, 178, 0);
      border: none;
    }

    .btn-success:hover {
      background-color: rgb(0, 178, 0);
      color: #FFFFFF;
    }

    .btn-danger {
      background-color:rgb(255, 192, 192);
      color: red;
      border: none;
    }

    .btn-danger:hover {
      background-color: red;
      color: #FFFFFF;
    }

    .form-group label {
      font-weight: bold;
    }

    .form-check label {
      font-weight: normal;
    }

    .forgot-password {
      text-align: right;
      margin-top: -10px;
    }
    .social-buttons {
      margin-top: 20px;
    }
    .social-buttons .btn {
      width: 100%;
      margin-bottom: 10px;
    }


    .list-group-item{
      border: none;
      color: lightgray;
      }

      .list-group-item:hover{
        border: none;
        }

        .list-group-item.active{
          border: none;
          color:#007BFF;
          }

      .list-group-item i {
        padding-left: 20px;
        padding-right: 20px;
        width:50px;

      }
      .custom-link {
        color: #333;
        text-decoration: none !important;
    }

    .custom-link:hover {
        color: #007BFF;
        text-decoration: none !important;
    }

    .custom-active-page {
        z-index: 0; /* Adjust the z-index value as needed */
    }

    .notes-form {
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .loading-spinner {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
    }

    .spinner-border {
        width: 3rem;
        height: 3rem;
    }
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .fade-in {
        animation-name: fadeIn;
        animation-duration: 0.6s;
        animation-timing-function: ease-in-out;
    }

    @media only screen and (max-width: 767px) {

      body {
        padding-top: 90px;
      }

      .form-inline.mobile-search-form {
        width: 55%;
        padding: 0px;
        display: block;

    }

     .sidebar{
      display: none;
     }

     .navbar {
      position: fixed;
      width: 100%;
      top: 0;
      border-bottom: 1px solid lightgrey;
      height: 80px;
      z-index: 1;
    }



     .navbar-nav {
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

      .fixed-bottom {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 80px;
        z-index: 1;
        background-color: white;
        border-top: 1px solid lightgrey;
      }

      .fixed-bottom .nav-link {
        font-size: 1.5rem;
      }

      .fixed-bottom .nav-link i {
        margin: 20px;
      }


      .nav-link:active {
        color: #000000;

    }


    }
