@media only screen and (min-width: 768px) {

    .scrollable-listings {
        max-height: 400px; /* Adjust the height as needed */
        overflow-y: auto;
        padding-right: 50px;
    }

    .navbar-mobile, .fixed-bottom, .logo_wrapper_m, .logo_m {
      display: none;
    }

    .container-custom-top{
        max-width: 85%;
        padding-left: 220px;
    }

    .container-custom-main{
        max-width: 85%;
        padding-top: 80px;
        padding-left: 220px;
    }

    .sidebar {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      width: auto;
      height: 100%;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
      background-color: white;
      box-shadow: 0px 0px 10px -6px rgba(0,0,0,0.1);
      z-index: 1;
    }

    .logo_wrapper {
      position: relative;
      display: block;
      width: 100%;
      height: 70px;
      z-index: 1;
    }

    .logo {
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }


        /* Custom Scrollbar */
        ::-webkit-scrollbar {
            width: 8px;
            background-color: #f8f9fa; /* Set background color */
          }

          ::-webkit-scrollbar-thumb {
            background-color: rgb(217, 217, 217); /* Set thumb color */
          }

          ::-webkit-scrollbar-thumb:hover {
            background-color: grey; /* Set thumb color on hover */
          }

          ::-webkit-scrollbar-track {
            background-color: #f8f9fa; /* Set track color */
          }

    }

    body {
        background-color: aliceblue;

    }

    .list-group{
      position: relative;
      top: 10px;
      }

    .list-group-item{
      color: black;
      border: 0;
      background-color: white;
      margin-top: 0;
      border-radius: 7px !important;
      }

      .list-group-item:hover{
        background-color: whitesmoke;
        }

        .card-general {
          box-shadow: 0px 0px 10px -6px rgba(0,0,0,0.1);
          border-radius: 15px;
      }

      .listing-card {
          background-color: white;
          box-shadow: 0px 0px 10px -6px rgba(0,0,0,0.1);
          border-radius: 15px;
          margin-bottom: 10px;
        }

      .listing-card:hover {
          box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.1);
      }

      .login-card {
          box-shadow: 0px 0px 18px -6px rgba(0,0,0,0.1);
          border: 0;
          top: 150px;
          border-radius: 35px;
      }

     input[type="text"], input[type="password"], input[type="email"], .form-control {
      border-radius: 7px;
     }

     #description {
      border-radius: 7px;
     }


    .navbar {
        position: fixed;
        width: 100%;
        top: 0;
        height: 70px;
        padding: 0;
        z-index: 1;
        background-color: aliceblue;
      }

    .info-icon {
        color: lightgrey;
        font-size: 18px;
        cursor: pointer;
        vertical-align: top;
    }

    .info-icon:hover {
        color: gray;

    }

    .upload input[type="file"] {
      display: none;
    }

    .upload label {
      display: inline-block;
      padding: 6px 10px;
      border-radius: 4px;
      font-size: 16px;
      font-weight: normal;
      color: black;
      border: 1px solid #ccc;
      border-radius: 7px;
      cursor: pointer;
    }

    .upload label:hover {
      background-color: #f5f5f5;
    }

    .upload i.fa {
      margin-right: 8px;
    }

    .search-form {
        width: 100%;
        padding: 0px;
        margin: 0;
        display: block;
    }

    .search-input {
      height: 40px;
      font-size: large;
      border-radius: 7px;
      background-color: white;
    }

    .search-btn{
      border-radius: 7px;
      background-color: #FFFFFF;
      color: #007BFF;
    }

    .search-btn:hover{
      border-radius: 7px;
      background-color: whitesmoke;
      color: #007BFF;
    }

    .btn-outline-secondary, .btn-primary{

      background-color: aliceblue;
      color:#007BFF;
      border: none;
      border-radius: 6px;
    }

    .btn-outline-secondary:hover, .btn-primary:hover{

      background-color: #007BFF;
      color:#FFFFFF;
    }

    .btn-secondary {
      background-color: rgb(217, 217, 217);
      color: grey;
      border: none;
      border-radius: 6px;
    }

    .btn-secondary:hover {
      background-color: grey;
      color: #FFFFFF;
    }

    .btn-success {
      background-color:rgb(189, 245, 196);
      color: rgb(0, 178, 0);
      border: none;
      border-radius: 6px;
    }

    .btn-success:hover {
      background-color: rgb(0, 178, 0);
      color: #FFFFFF;
    }

    .btn-danger {
      background-color:rgb(255, 192, 192);
      color: red;
      border: none;
      border-radius: 6px;
    }

    .btn-danger:hover {
      background-color: red;
      color: #FFFFFF;
    }

    .form-group label {
      font-weight: bold;
    }

    .form-check label {
      font-weight: normal;
    }

    .forgot-password {
      text-align: right;
      margin-top: -10px;
    }
    .social-buttons {
      margin-top: 20px;
    }
    .social-buttons .btn {
      width: 100%;
      margin-bottom: 10px;
    }

        .list-group-item.active{
          background-color: aliceblue;
          color: black;
          }

      .list-group-item i {
        padding-left: 20px;
        padding-right: 20px;
        width:50px;
      }

      .custom-link {
        color: black;
        text-decoration: none !important;
    }

    .custom-link:hover {
        color: black;
        text-decoration: none !important;
    }

    .custom-active-page {
        z-index: 0; /* Adjust the z-index value as needed */
    }

    .notes-form {
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .loading-spinner {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
    }

    .spinner-border {
        width: 3rem;
        height: 3rem;
    }
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .fade-in {
        animation-name: fadeIn;
        animation-duration: 0.6s;
        animation-timing-function: ease-in-out;
    }

    .jumbotron{
        background-color: transparent;
        border: 1px solid #007BFF;
        border-radius: 20px;

        }

    .jumbotron-button{
      background-color: white;
      box-shadow: 0px 0px 10px -6px rgba(0,0,0,0.1);
      color: #007BFF;
    }

    .jumbotron-button:hover{
      background-color: #007BFF;
      box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.1);
      color: white;
    }

    @media only screen and (max-width: 767px) {

      .logo_wrapper, .logo, .sidebar {
        display: none;
      }

      .search-form {
        width: 85%;
        padding: 0px;
        right: 0;
    }
      .logo_wrapper_m {
        width: 30px;
        height: 70px;
        top: 0px;
        z-index: 1;
      }

      .logo_m {
        position: absolute;
        height: 40px;
        margin-top: 15px;
      }

      .container-custom-top{
       max-width: 100%;
    }

    .container-custom-main{
       max-width: 100%;
       padding-top:80px;
    }

      .navbar>.container, .navbar>.container-fluid {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          -ms-flex-align: center;
          align-items: center;
          -ms-flex-pack: justify;
          justify-content: space-between;
      }

     .navbar-nav {
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

      .fixed-bottom {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 70px;
        z-index: 1;
        background-color: aliceblue;
        border-top: 0.5px solid lightgrey;
      }

      .fixed-bottom .nav-link {
        display: inline;
        font-size: 1.5rem;
        height: 70px;
        padding: inherit;
      }

      .fixed-bottom .nav-link i {
        margin: 20px;
      }


      .nav-link:active {
        color:#007BFF;

    }


    }
